# 1st Chapter
Example of model-based learning using linear regression:

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.linear_model

In [22]:
gdp = pd.read_csv('gdp_per_capita.csv', sep='\t', encoding='latin1', thousands=',').dropna()
gdp.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4318.135,2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4100.315,2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",14414.302,2011.0

In [24]:
gdp.isna().sum()

Country                          0
Subject Descriptor               0
Units                            0
Scale                            0
Country/Series-specific Notes    0
2015                             0
Estimates Start After            0
dtype: int64

In [23]:
gdp.columns

Index(['Country', 'Subject Descriptor', 'Units', 'Scale',
       'Country/Series-specific Notes', '2015', 'Estimates Start After'],
      dtype='object')

In [33]:
oecd = pd.read_csv('oecd_bli_2015.csv', thousands = ',')[['Country', 'Indicator', 'Measure', 'Inequality', 'Unit', 'PowerCode', 'Value']]
oecd.head()

,Country,Indicator,Measure,Inequality,Unit,PowerCode,Value
0,Australia,Dwellings without basic facilities,Value,Total,Percentage,units,1.1
1,Austria,Dwellings without basic facilities,Value,Total,Percentage,units,1.0
2,Belgium,Dwellings without basic facilities,Value,Total,Percentage,units,2.0
3,Canada,Dwellings without basic facilities,Value,Total,Percentage,units,0.2
4,Czech Republic,Dwellings without basic facilities,Value,Total,Percentage,units,0.9

In [34]:
oecd.isna().sum()

Country       0
Indicator     0
Measure       0
Inequality    0
Unit          0
PowerCode     0
Value         0
dtype: int64

In [36]:
oecd.shape

(3292, 7)

# Getting countries and life satisfaction from oecd

In [41]:
oecd_life_sat = oecd[['Country', 'Value']][oecd['Indicator'] == 'Life satisfaction']
oecd_life_sat.columns = ['Country', 'Life satisfaction']
oecd_life_sat.head()

             Country  Life satisfaction
2669       Australia                7.3
2670         Austria                6.9
2671         Belgium                6.9
2672          Canada                7.3
2673  Czech Republic                6.5

# Getting countries and GPD from gdp

In [45]:
gdp_country = gdp[['Country', '2015']]
gdp_country.columns = ['Country', 'GPD per capita ($)']
gdp_country.head()

               Country  GPD per capita ($)
0          Afghanistan             599.994
1              Albania            3995.383
2              Algeria            4318.135
3               Angola            4100.315
4  Antigua and Barbuda           14414.302

# Join GPD and Life Satisfaction

In [62]:
statistics_per_country = pd.merge(gdp_country, oecd_life_sat, on = 'Country').groupby(['Country'])
statistics_per_country.head()

            Country  GPD per capita ($)  Life satisfaction
0         Australia           50961.865                7.3
1         Australia           50961.865                7.2
2         Australia           50961.865                7.4
3         Australia           50961.865                7.4
4         Australia           50961.865                7.2
..              ...                 ...                ...
169  United Kingdom           43770.688                6.3
170   United States           55805.204                7.2
171   United States           55805.204                7.1
172   United States           55805.204                7.2
173   United States           55805.204                7.5

[174 rows x 3 columns]

In [64]:
X = statistics_per_country['GPD per capita ($)']
Y = statistics_per_country['Life satisfaction']

X.head()

0      50961.865
1      50961.865
2      50961.865
3      50961.865
4      50961.865
         ...
169    43770.688
170    55805.204
171    55805.204
172    55805.204
173    55805.204
Name: GPD per capita ($), Length: 174, dtype: float64

In [53]:
Y.head()

0      7.3
1      7.2
2      7.4
3      7.4
4      7.2
      ...
169    6.3
170    7.2
171    7.1
172    7.2
173    7.5
Name: Life satisfaction, Length: 174, dtype: float64

In [56]:
model = sklearn.linear_model.LinearRegression()
model.fit(X, Y,)

/usr/lib/python3/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
/home/wildfire/.local/lib/python3.9/site-packages/sklearn/utils/validation.py:956: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'